[mysql]
default-character-set=utf8mb4

[client]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_bin
log-error=/var/log/mysql/mysqld.log

# 以下TDEの設定
# TDE利用のためのプラグインロード
# early-plugin-load=keyring_file.so
# キーリングの保存場所
# keyring_file_data=/var/lib/mysql-keyring/keyring
# テーブルの暗号化をデフォルトで有効化する
# default_table_encryption=ON
innodb_file_per_table=ON